*{
    margin: 0;
    padding: 0;
}

.game{
    width: 90%;
    margin: 5vh auto;
}

.buttons div{
    text-align: center;
    margin: 10px;
}

.buttons div a button{
    border: none;
}

.user{
    padding: 5px;
}

.user input::placeholder, .user-input input::placeholder{
    padding: 5px;
}

#notification {
    display: block;
    color: red;
    font-weight: 600;
}

.game-board{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-board div{
    margin: 50px 20px 0 20px;
    text-align: center;
}

.game-board div p{
    font-size: 16px;
    font-weight: 600;
}

.game-board div span{
    display: block;
    font-size: 18px;
}

#game-scenario{
    margin-top: 5vh;
    border-left: 2px solid red;
    border-right: 2px solid red;
}

.user-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.user-input button{
    outline: none;
    margin-left: 5px;
    padding: 5px;
    background-color: #2b00ff;
    color: #FFFFFF;
    border: #2b11ff;
}

.user-input button span{
    font-size: 15px;
}

.user-input button:active span{
    font-size: 14px;
}

#game-over{
    font-weight: 600;
    color: red;
    text-align: center;
    padding: 22px;
    font-size: 20px;
}